<p class="footer">Coded By 
<a class= "footerLink" href="https://www.linkedin.com/in/dsuar/">Dani Suarez</a>
</p>
<style>
   .footer {
       color: white;
       font-family: 'Syne Mono', monospace;
       text-align: center;
       font-size: 14px;
       text-decoration: none;
   }
   .footerLink{
       color: #1DB954;
       text-decoration: none;
       
   }
</style>