<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RECORD it!</title>
  </head>
  <body>
    <header>
      <h1>RECORD your Records</h1>
    </header>
    <main>
      <div class="container">

        <div class="welcome">

          <!-- <h3 id="arc">Let us help you keep track of your Record Collection!</h3> -->
          <%- include ('../partials/curvedtxt.ejs') %>
          <div class="index-button">
            <a class="goButton" href="/records">
            <button>
               LAUNCH!
            </button>
        </a>
          </div>

        </div>

        <div class="image">
          <img
            src="https://static.billboard.com/files/media/vinyl-records-stock-2017-billboard-1548-compressed.jpg"
            alt="vinyls"
          />
        </div>
       
      </div>
    </main>
      <footer>
        <%- include ('../partials/footer.ejs') %>
      </footer>
   
  </body>
  <style>
    body {
      background-color: #000000;
      color: white;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    h1{
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        text-align: center;
        margin-bottom: 45px;
       
    }
    h3 {
        z-index: 100;
        position: absolute;
      font-size: 30px;
      text-align: center;
    }
    .goButton {
      justify-content: center;
      display: flex;
      text-decoration: none;
    }
    button {
        color: black;
    background-color: #F1EDE3;
    font-size: 15px;
    border-radius: 12px;
    padding: 5px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    top: -233px;
    left: -7px;
     
    }
    button:hover{
        background-color: #F4A3A5;;
    }
    img {
       width: 56%;
    height: auto;
    position: absolute;
    top: 146px;
    left: 255px;
    }
   
  </style>
</html>