<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RECORD it!</title>
  </head>
  <body>
    <header>
      <h1>RECORD your Records</h1>
    </header>
    <main>
      <div class="container">
        <div class="welcome">
          <h3>Keep track and showcase your Record Collection!</h3>
          <div class="index-button">
            <button>
              <a href="/records/recordCollection"> Start Recording!</a>
            </button>
          </div>
        </div>
        <div class="image">
          <img
            src="https://static.billboard.com/files/media/vinyl-records-stock-2017-billboard-1548-compressed.jpg"
            alt="vinyls"
          />
        </div>
      </div>
    </main>
  </body>
  <style>
    body {
      background-color: #000000;
      color: white;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    h3 {
      font-size: 60px;
      text-align: center;
    }
    .index-button {
      justify-content: center;
      display: flex;
    }
    button {
      background-color: #ddaf94;
      border-radius: 15px;
      padding: 25px;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: #fdf8f5;
      font-size: 16px;
    }
    img {
      width: 100%;
      height: auto;
    }
    p {
      opacity: 0.75;
    }
  </style>
</html> -->