<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>Add a New Record To Your Collection</h1>
      <form action="/records" method="POST">
        <label for="artist">Artist:</label>
        <input type="text" name="artist" required />
        <label for="albumName">Album Name:</label>
        <input type="text" name="albumName" />
        <label for="releaseDate">Release Date:</label>
        <input type="text" name="releaseDate" />
        <label for="label">Record Label:</label>
        <input type="text" name="label" />
        <label for="coverArt">Cover Art:</label>
        <input type="text" name="coverArt" />
        <label for="tracklist">Tracklist:</label>
        <input type="text" name="trackList" />
        <br/>
        <div>
          <label for="readyToShip">
            <input type="checkbox" id="readyToShip" name="readyToShip" />
            <span>Record is Ready to Ship</span>
          </label>
        </div>
        <br>
        <br>
        <input class="submit" type="submit" value="Submit">
      </form>
      <br>
      <button type="button" name="button">
        <a href="/records">BACK</a>
      </button>
    </div>
    <footer>
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
  <style>
    body{
      background-color: black;
      font-family: 'Fjalla One', sans-serif;
    }
    h1{
      font-family: 'Anton', sans-serif;
        font-size: 50px;
        text-align: center;
        margin-bottom: 59px;
        margin-top: 57px;
        margin-bottom: 57px;
    }
    form, label{
      color: white;
      font-size: 15px;
    }
    form:active{
      color:#1DB954;
    }
    input{
color:#1DB954;
    }
    button, .submit{
      text-decoration: none;
      padding:10px;
      border-radius: 24px;
    width: 20%;
    color: black;
    font-weight: bolder;
    }
    button:hover, .submit:hover{
    background-color: #1DB954;
    cursor: pointer;
    color: white;
    }
  </style>
</html>
